<!DOCTYPE html>
<html>
  <head>
    <title>Lemonade</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-ui-router.js"></script>
  	<script src="/javascripts/dashboard.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>

  <style>
  p.test {
    width: 11em; 
    border: 1px solid #000000;
    word-wrap: break-word;
}
  </style>

  <style>
section {
    width:200px;
    float:right;
    padding:10px; 
    border-radius: 25px;
}
  </style>


  <script type="type/ng-template" id="/home.html">
    <div class="page-header">
      <h1>Lemonade</h1>
    </div>
  </script>

  <body ng-app="dashboard" ng-controller="MainCtrl">

    <img src="images/difflogoname.png" height="100">

    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">"I was served lemons, but I made lemonade." - Hattie White </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <!-- <li><a href="#"><span class="glyphicon glyphicon-plus"></span> Add post</a></li> -->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Me <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">My posts</a></li>
          <li><a href="#">Log out</a></li>
        </ul>
      </li>
    </ul>

  </div>
    </nav>


  <div id="nav" style="border:3px solid #140202;">
    <div class="radio">
      <label><input type="checkbox"> Drugs/Alcohol </label>
    </div>

    <div class="radio">
      <label><input type="checkbox"> Physical Abuse </label>
    </div>

    <div class="radio">
      <label><input type="checkbox"> Mental Abuse </label>
    </div>

    <div class="radio">
      <label><input type="checkbox"> Depression </label>
    </div>

    <div class="radio">
      <label><input type="checkbox"> Self harm </label>
    </div>

    <div class="radio">
      <label><input type="checkbox"> Rape </label>
    </div>

    <div class="radio">
      <label><input type="checkbox"> Suicide </label>
    </div>

    <div class="radio">
      <label><input type="checkbox"> Sexual Harassment </label>
    </div>

    <div class="radio">
      <label><input type="checkbox"> Death </label>
    </div>


  </div>

  <section style="border:3px solid #140202;">
        <u><b> Hotline</b></u><br><br>
        <b><i>24/7 Mental Health Consultation</i></b><br>
        1 (530) 752-2349<br><br>
        <b><i>National Suicide Prevention Lifeline</i></b><br>
        1 (800) 273-8255<br><br>
  </section>

    <form ng-submit="addPost()">

      <style>
    p.test{
      width: 11em;
      border: 1px solid #000000;
      word-wrap: break-word;
  }
  body{
    background-image: url('../images/dashboardlemon.png');
  }
    </style>

      <textarea ng-model="title" style="margin-left: 150px; width:600px; height:100px; rows:"3";"></textarea>
      <button type="submit" style="margin-left: 25px">Post</button>
      
    </form>


    <br>
    <div style="margin-left: 255px; margin-right: 240px;overflow-y:scroll; height: 250px; position:relative;">
      <div ng-repeat="post in posts">
        {{post.title}}
      </div>
    </div>
  </body>
</html>
