<!DOCTYPE html>
<html>
  <head>
    <title>Lemonade</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-ui-router.js"></script>
  	<script src="/javascripts/dashboard.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>
  <style>
  p.test {
    width: 11em; 
    border: 1px solid #000000;
    word-wrap: break-word;
}
</style>

  <style>
section {
    width:200px;
    float:right;
    padding:10px; 
}
  </style>

  <script type="type/ng-template" id="/home.html">
    <div class="page-header">
      <h1>Lemonade</h1>
    </div>
  </script>

  <body ng-app="dashboard" ng-controller="MainCtrl">
    <img src="images/difflogoname.png" height="100">

    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">"I was served lemons, but I made lemonade." - Hattie White </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-plus"></span> Add post</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Me <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">My posts</a></li>
          <li><a href="#">Log out</a></li>
        </ul>
      </li>
    </ul>

  </div>
    </nav>

  <div id="nav">
    Drugs/Alcohol<br>
    Physical abuse<br>
    Mental abuse<br>
    Depression<br>
    Self harm<br>
    Rape<br>
    Suicide<br>
    Sexual Harassment<br>
    Death

  </div>

  <section>
        Hotline<br>
        (530) 123-4567<br>
        (408) 726-2379
  </section>

    <form ng-submit="addPost()">

      <style>
    p.test{
      width: 11em;
      border: 1px solid #000000;
      word-wrap: break-word;
  }
    </style>

      <input type="text" ng-model="title" style="margin-left: 200px; width:300px"></input>
      <button type="submit" style="margin-left: 25px">Post</button>
      
    </form>
    <br>
    <div ng-repeat="post in posts" style="margin-left: 255px; margin-right: 300px">
      {{post.title}}
    </div>

  </body>
</html>
