<!DOCTYPE html>
<html>
  <head>
    <title>Lemonade</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-ui-router.js"></script>
  	<script src="/javascripts/dashboard.js"></script>
  </head>
  
  <script type="type/ng-template" id="/home.html">
    <div class="page-header">
      <h1>Lemonade</h1>
    </div>
  </script>

  <body ng-app="dashboard" ng-controller="MainCtrl">
    <h1>Lemonade</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>

    <div ng-repeat="post in posts">
      {{post.title}}
    </div>

    <form ng-submit="addPost()">
      <input type="text" ng-model="title"></input>
      <button type="submit">Post</button>
    </form>
    
  </body>
</html>
