<html>
  <head>
    <title>Lemonade</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="dashboard">

  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl" ng-show="isLoggedIn()">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logout()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>
  <ui-view></ui-view>

<script type="text/ng-template" id="/home.html">
  <img src="images/difflogoname.png" height="100">

    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">"I was served lemons, but I made lemonade." - Hattie White </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-plus"></span> Add post</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Me <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">My posts</a></li>
          <li><a href="#">Log out</a></li>
        </ul>
      </li>
    </ul>

  </div>
    </nav>


  <div id="nav">
    Drugs/Alcohol<br>
    Physical abuse<br>
    Mental abuse<br>
    Depression<br>
    Self harm<br>
    Rape<br>
    Suicide<br>
    Sexual Harassment<br>
    Death

  </div>

  <section>
        Hotline<br>
        (530) 123-4567<br>
        (408) 726-2379
  </section>

    <form ng-submit="addPost()">

      <style>
    p.test{
      width: 11em;
      border: 1px solid #000000;
      word-wrap: break-word;
  }
  body{
    background-image: url('../images/dashboardlemon.png');
  }
    </style>
    <form ng-submit="addPost()">
      <textarea ng-model="title" style="margin-left: 150px; width:600px; height:100px; rows:"3";"></textarea>
      <button type="submit" class="btn btn-primary" style="margin-left: 25px">Post</button>
      
    </form>
    <br>
    <div style="margin-left: 255px; margin-right: 240px;overflow-y:scroll; overflow-x:hidden; height: 250px; position:relative;">
      <div ng-repeat="post in posts">
        <div class="story">
          {{post.title}}
          <br></br>
          <div>
            <a href="#/posts/{{post._id}}">Comments</a>
            <a href="" title="Report"><i class="fa fa-flag" aria-hidden="true"></i></a>
          </div>

        </div>
      </div>
    </div>
</script>

<script type="text/ng-template" id="/posts.html">
<div class="row">
    <div class="col-md-6 col-md-offset-3">

  <div class="page-header">
    <h3>
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </h3>
  </div>

  <div ng-repeat="comment in post.comments">
    - by {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
    <a href="" title="Report"><i class="fa fa-flag" aria-hidden="true"></i></a>
  </div>

<form ng-submit="addComment()"
    style="margin-top:30px;">
    <h3>Add a new comment</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Write Comment..."
      ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
</div>
</div>

</script>

<script type="text/ng-template" id="/register.html">
	<div class="row">
	<div class="col-md-6 col-md-offset-3">
  <div class="page-header">
    <h1>Lemonade</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()" id="register-form"
    style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  </div>
  </div>
</script>

<script type="text/ng-template" id="/login.html">
<div class="container" id="login-container">
    <img id="lemonade" src="images/difflogoname.png" height="100">
    <br>
  	<!-- <h1 style="text-align: center">Lemonade</h1> -->
  <form class="form-horizontal" role="form" ng-submit="login()">
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Username:</label>
      <div class="col-sm-10">
        <input type="username" class="form-control" id="username" placeholder="Enter user name"  ng-model="user.username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="user.password">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Log in</button>
        <p1 > or </p1>
        <a class="btn btn-default"  href="/#/register">Register</a>
      </div>
    </div>
  </form>
</div>
<!--
  <div class="page-header">
    <h1>Flapper News</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="login()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
-->
  </script>

  </body>
</html>