<!DOCTYPE html>
<html>
  <head>
    <title> Lemonade </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Lemonade </h1>
    <p>Welcome to Lemonade</p>
  	<form action="demo_form.asp">
User name: <input type="text" name="FirstName"><br>
Password: <input type="text" name="LastName"><br>
<input type="submit" value="Submit">
	</form>
  </body>
</html>
